
#Trailer {
  position: absolute;
  right: 0;
  margin-top: 40px;
  min-width: 100%; 
  min-height: 100%;
}


#text {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 20px;
  background-color: black;
  width: 100%;
  height: 10px;
  padding-left: 40px;
  padding-bottom: 60px;
}

#num1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 10px;
  margin-top: -20px;
}

#num2 {
  display: flex;
  gap: 15px;
}

#btn1 {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 20px;
  padding-top: 40px;
  padding-left: 50px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.navbar2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.Link {
  color: white;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  padding-top: 13px;
  padding-left: 30px;
}
.Link2 {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding-top: 13px;
  padding-left: 10px;
}
.btn1 {
  border: none;
  background-color: transparent;
}
.Title {
  position: absolute;
  padding-top: 20%;
  padding-left: 20px;
}
.texts {
  position: absolute;
  color: white;
  padding-top: 30%;
  padding-left: 21px;
  background-color: transparent;
  width: 700px;
}
.button {
  position: absolute;
  color: white;
  padding-top: 35%;
  padding-left: 21px;
  background-color: transparent;
  border: none;
  gap: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button12 {
  background-color: white;
  width: 200px;
  height: 50px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  width: 150px;
}
.Play {
  color: black;
  text-decoration: none;
}
.button123124 {
  background-color: #515451;
  width: 200px;
  height: 52px;
  color: white;
  font-size: large;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 13px;
  cursor: pointer;
}

#btn3 {
  border: none;
  background-color: black;
  height: 20px;
  margin-top: 40px;
}

#btn4 {
  border: none;
  background-color: black;
}

#rougn4 {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

#rough4:hover {
  transform: rotate(180deg);
}

.caret {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  margin-left: 10px;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
  width: 0;
  cursor: pointer;
}

.caret:hover {
  transform: (180deg);
}
